doctype html
html(lang="en")
  head
    title Payment
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css",
         integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='/javascripts/payment-controller.js')

  body
  form.col-md-10
    p Order

    fieldset.form-group
      div.form-row
      div.form-row
        label.col-sm-2.form-control-label
          | Price
        div.col-sm-10
          input(id="price", type="text", name="price").form-control

      div.form-row
        label.col-sm-2.form-control-label
          | Currency
        div.col-sm-10
           select(id="currency").form-control
            each currency in currencies
              option(value=currency) #{currency}

      div.form-row
        label.col-sm-2.form-control-label
          | Full Name
         div.col-sm-10
           input(id="customerName", type="text", name="customerName", title="first and last name").form-control

    p Payment

    fieldset.form-group
      div.form-row
        label.col-sm-2.form-control-label
          | Credit Card Holder Name
       div.col-sm-10
          input(id="creditCardHolderName", type="text", name="creditCardHolderName", title="first and last name").form-control

      div.form-row
        label.col-sm-2.form-control-label
          | Credit Card Type
        div.col-sm-10
           select(id="creditCardType").form-control
            each creditCardType in creditCardTypes
              option(value=creditCardType) #{creditCardType}

      div.form-row
        label.col-sm-2.form-control-label
          | Credit Card Number
       div.col-sm-10
          input(id="creditCardNumber", type="text", name="creditCardNumber").form-control

      div.form-row
        label.col-sm-2.form-control-label
          | Credit Card Expiration
       div.col-sm-10
          input(id="creditCardExpiration", type="text", name="creditCardExpiration", title="format: mm/yyyy").form-control

      div.form-row
        label.col-sm-2.form-control-label
          | CCV
       div.col-sm-10
          input(id="ccv", type="text", name="ccv").form-control

    fieldset.form-group
      div.form-row
        button(id="submit-payment" type="button").btn-primary Submit Payment

    fieldset.form-group
      ul(id="validationMessages")
